/*
sky-color: #9DE3F2
carbon-color: #A9A9A9
watermelon-color: #FF3B3F
neutral-color: #EFEFEF
*/



@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
  box-sizing: border-box;
}

#imaginary_container{
    margin-top:15%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

table {
    display: block;
    overflow: scroll;
}

html {
  height: 100%;
  }

/*body { 
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A9A9;
  background: #EFEFEF;
  padding: 100px 20px;
  height: 100%;
  background-image: url("book.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  

}*/

body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 0px 15px 15px 0px;
  text-align: center;
  font: 25px "Lato", Arial, sans-serif;
}

